@font-face {
    font-family: 'Inter';
    src: url(/resource/InterFonts);
}

.parent-div {
    width: auto;
    height: 100vh !important;
}

.child-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 80vh;
}

.child-one p {
    font-size: 3rem;
}

.goBackBtn {
    background: #F4600D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 25%;
    height: 20%;
    width: 10%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.goBackBtn a {
    text-decoration: none;
    color: white;
}


/* @media only screen and (min-width: 320px) {
    .child-main {
        width: 32%;
    }
    .child-one {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 768px) {
    .child-main {
        width: 32%;
    }
    .child-one {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1024px) {
    .child-main {
        width: 32%;
    }
    .child-one {
        font-size: 2.3rem;
    }
}

@media only screen and (min-width: 1365px) {
    .parent-div {
        width: auto;
        height: 48rem !important;
    }
    .child-main {
        width: 32%;
    }
    .child-one {
        font-size: 2.9rem;
    }
}

@media only screen and (min-width: 1900px) {
    .parent-div {
        width: auto;
        height: 59.2rem !important;
    }
    .child-one {
        font-size: 62px !important;
    }
} */


/* .siteforceStarterBody ..slds-m-top_x-large {
    margin: 0 !important;
}

.parent-div {
    /* background-color: red; */


/*display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
overflow: hidden;

}
.child-main {
    width: 32%;
}
.child-one {
    line-height: 1.4;
    font-family: "Inter", sans-serif;
    letter-spacing: normal;
}
.child-two {
    font-size: 15px;
    margin: 3% 0 0 3%;
}
a {
    color: inherit;
}
*/