body {
    font-family: "DM Sans", sans-serif;
    line-height: 1.5;
    background-color: #f1f3fb;
    padding: 0 2rem;
}

.time-div{
    position: fixed;
    right: 0;
    padding: 10px;
}

.card {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width:85%;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
    padding: 1rem;
}

.card-image {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.card-image img {
    width: auto;
    height: 30px;
}

.header {
    margin: 1em 0 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid #c0bfd2;
}

.card-heading {
    left: 3%;
    top: 15%;
    right: 10%;
    font-size: 1.75rem;
    font-weight: 700;
    color: #04cbff;
    line-height: 1.222;
}

img {
    max-width: 100%;
    display: block;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

.card-form {
    padding: 0rem 1rem 0;
}

.input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.5rem;
}

.input+.input {
    margin-top: 1.5rem;
}

.input-label {
    color: #8597a3;
    position: absolute;
    top: 1.5rem;
    transition: 0.25s ease;
}

.input-field {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font: inherit;
    font-size: 1.125rem;
    padding: 0.25rem 0;
}

.input-field:focus,
.input-field:valid {
    outline: 0;
    border-bottom-color: #04cbff;
}

.input-field:focus+.input-label,
.input-field:valid+.input-label {
    color: #04cbff;
    transform: translateY(-1.5rem);
}

.action {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.action-button {
    font: inherit;
    font-size: 1rem;
    padding: 0.5rem;
    width: 10rem;
    font-weight: 500;
    background-color: #04cbff;
    border-radius: 6px;
    color: #FFF;
    border: 0;
}

.action-button:focus {
    outline: 0;
}

.card-info {
    padding: 1rem 1rem;
    text-align: center;
    font-size: 0.875rem;
    color: #8597a3;
}

.card-info a {
    display: block;
    color: #04cbff;
    text-decoration: none;
}

.header {
    margin: 1em 0 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid #c0bfd2;
}

.question-title {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
}

:host {
    --sds-c-textarea-sizing-min-height: 200px;
}

.questions{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.save-button{
    margin-top: 3px;
    background-color: #04cbff;
    border: 0;
}