body {
    font-family: "DM Sans", sans-serif;
    line-height: 1.5;
    background-color: #f1f3fb;
    padding: 0 2rem;
}

.time-div{
    position: fixed;
    right: 0;
    padding: 10px;
}

.card {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 45rem;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
    padding: 1rem;
}

.card-image {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.card-image img {
    width: auto;
    height: 30px;
}

.header {
    margin: 1em 0 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid #c0bfd2;
}

.card-heading {
    left: 3%;
    top: 15%;
    right: 10%;
    font-size: 1.75rem;
    font-weight: 700;
    color: #04cbff;
    line-height: 1.222;
}

.card-form {
    padding: 0rem 1rem 0;
}

.errorcls {
    color: red;
}

.action {
    margin-top: 2rem;
}

.action-button {
    font: inherit;
    font-size: 1.50rem;
    padding: 0.5em;
    width: 100%;
    font-weight: 500;
    background-color: #04cbff;
    border-radius: 6px;
    color: #FFF;
    border: 0;
}

.action-button:focus {
    outline: 0;
}

.action-button[disabled] {
    opacity: 0.5;
}

.card-info {
    padding: 1rem 1rem;
    text-align: center;
    font-size: 0.875rem;
    color: #8597a3;
}

.card-info a {
    display: block;
    color: #04cbff;
    text-decoration: none;
}

ol:not(.browser-default) li {
    list-style-type: number;
}

ol {
    margin-left: 1.5rem;
}

.header {
    margin: 1em 0 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid #c0bfd2;
}