.headercls {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    background: skyblue;
}

h2 {
    font-size: 18px;
    font-family: arial;
    margin-bottom: 16px;
}

.collegeCombo {
    width: fit-content;
    margin-bottom: 1%;
    margin-left: 1%;
}

.detailcls {
    border-bottom: 1px solid skyblue;
    padding: 15px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: rgba(185, 188, 191, 0.2) 0px 0px 24px 5px;
    border-radius: 5px;
    font-family: arial;
    overflow: auto;
}

table thead th {
    padding: 10px 16px;
    text-align: left;
    background-color: darkorange;
    border-right: 1px solid #eee;
}

table tbody tr td {
    padding: 10px 16px;
    border-bottom: 1px solid #eee;
}

table tbody tr .action {
    display: flex;
}

table tbody tr .action button {
    margin-right: 10px;
    cursor: pointer;
    background-color: #f3f3f5;
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
}

table tbody tr .action button:last-child {
    margin-right: 0;
}

table .res-head {
    display: none;
}

@media screen and (max-width: 767px) {
    table {
        background-color: transparent;
        box-shadow: none;
    }

    table thead {
        display: none;
    }

    table tbody tr {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        background-color: #fff;
        padding: 50px 10px 10px 10px;
        position: relative;
        background-color: #fff;
        box-shadow: rgba(185, 188, 191, 0.2) 0px 0px 24px 5px;
    }

    table tbody tr td {
        display: flex;
        background-color: transparent;
        padding: 0;
        margin-bottom: 5px;
        margin-right: 16px;
        border: none;
        flex-wrap: wrap;
    }

    table tbody tr td .res-head {
        display: block;
        font-weight: 700;
        margin-right: 5px;
    }

    table tbody tr td:first-child {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    table tbody tr .action {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}


.notification {
    background-color: #fff;
    padding: 15px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0 2px 5px #00000033;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    overflow: hidden;
}

i {
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    width: 37px;
    height: 37px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.notification span {
    font-size: 18px;
    color: #FFFFFF !important;
    line-height: 1.6;
    white-space: nowrap;
}

.notification.danger {
    border: 1px solid #ea4e2c7c;
    background-color: #c05f5f;
    position: absolute;
    opacity: 1;
}

.notification.danger i {
    background-color: #ea4e2cc4;
}

.fa-times {
    position: absolute;
    right: 15px;
    color: #777;
    background-color: transparent !important;
}

.mainnotification {
    display: flex;
    justify-content: center;
}