.container {
    background: linear-gradient(to bottom, #63cbff 10%, #FFFFFF 60%);
}

.header {
    width: 100%;
    height: 26vh;
    background-position: center;
    background-size: cover;
    border-radius: 4px 4px 0 0;
    color: white;
    position: relative;
}

.welcomeText {
    height: 100%;
    position: relative;
    top: 10%
}

.welcomeText h2 {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #000000;
}

.welcomeText p {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.calenderimg {
    margin-left: -35px;
    margin-top: 35px;
}

.sffont {
    font-weight: 600;
    font-size: 25px;
    color: #000000;
}

.TimeSheetticket{
    background: #EDEAEA;
    border-radius: 5px;
    display: inline-block;
    min-width: 300px;
    text-align: left;
    text-transform: uppercase;
    width: 20%;
}

.ticket.light .ticket-body {
    border-color: #161616;
}

.ticket-head {
    background-color: #72CBE8;
    border-radius: 4px 4px 0 0;
    min-height: 10rem;
}

.ticket-head .from-to {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    z-index: 2;
}

.ticket-head .icon {
    display: inline-block;
    margin: 0 40px;
    transform: rotate(135deg) translate(25%, 25%);
}

.ticket-body {
    position: relative;
}

.ticket-body p {
    color: #A2A2A2;
    font-size: 12px;
}

.ticket-body:before,
.ticket-body:after {
    background-color: #FFFFFF;
    border-radius: 100%;
    content: "";
    height: 30px;
    position: absolute;
    top: 100%;
    width: 35px;
}

.ticket-body:before {
    left: 0;
    transform: translate(-70%, -45%);
}

.ticket-body:after {
    right: 0;
    transform: translate(70%, -45%);
}

.barcode {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 1px 0 0 1px, 5px 0 0 1px, 10px 0 0 1px, 11px 0 0 1px, 15px 0 0 1px, 18px 0 0 1px, 22px 0 0 1px, 23px 0 0 1px, 26px 0 0 1px, 30px 0 0 1px, 35px 0 0 1px, 37px 0 0 1px, 41px 0 0 1px, 44px 0 0 1px, 47px 0 0 1px, 51px 0 0 1px, 56px 0 0 1px, 59px 0 0 1px, 64px 0 0 1px, 68px 0 0 1px, 72px 0 0 1px, 74px 0 0 1px, 77px 0 0 1px, 81px 0 0 1px, 85px 0 0 1px, 88px 0 0 1px, 92px 0 0 1px, 95px 0 0 1px, 96px 0 0 1px, 97px 0 0 1px, 101px 0 0 1px, 105px 0 0 1px, 109px 0 0 1px, 110px 0 0 1px, 113px 0 0 1px, 116px 0 0 1px, 120px 0 0 1px, 123px 0 0 1px, 127px 0 0 1px, 130px 0 0 1px, 131px 0 0 1px, 134px 0 0 1px, 135px 0 0 1px, 138px 0 0 1px, 141px 0 0 1px, 144px 0 0 1px, 147px 0 0 1px, 148px 0 0 1px, 151px 0 0 1px, 155px 0 0 1px, 158px 0 0 1px, 162px 0 0 1px, 165px 0 0 1px, 168px 0 0 1px, 173px 0 0 1px, 176px 0 0 1px, 177px 0 0 1px, 180px 0 0 1px;
    display: inline-block;
    height: 30px;
    margin-right: 85px;
    margin-top: 25px;
    transform: translateX(-90px);
    width: 0;
}

.buttoncls {
    background: #72CBE8;
    border-radius: 24px;
    cursor: pointer;
    margin-block: 5%;
    box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 22%);
    border-style: solid;
    border-width: 0.1px;
    border-color: #78ede88a;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}

h3 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #000000;
}

p {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.085em;
    color: #949191;
}


/* Media Query for Mobile View */

@media only screen and (max-width: 1080px) {

    .welcomeText h2 {
        position: absolute;

        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        color: #000000;
    }
    .welcomeText p {
        position: absolute;

        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        color: #000000;
    }
    
}

@media only screen and (max-width: 600px) {

    .welcomeText h2 {
        position: absolute;

        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        color: #000000;
    }
}
@media only screen and (max-width: 400px) {

    .welcomeText p {
        font-size: 12px;
    }
    .sffont {
        font-size: 20px;
       
    }
}
/* ================================> Animtions <================================== */

.HoverShadow{
    transition-property: transfrom;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.HoverShadow:hover{
    transform: translate(-2px,2px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

/* ================================> Animtions <================================== */

.btn{
    margin-bottom: 100px;
    width: 10%;
    background-color: blue;
    color: white;
    transition-property: transform;
    
}
.btn:hover{
    box-shadow: 0px 0px 50px 1px rgb(224, 250, 253), 0px 0px 5px 5px rgba(0, 0, 0, 0.37);
    
}

/* --------------------------------ß---------------------------------------------- */

@keyframes myAnimation {
  0%,
  100%{
    transform: scale(1);
  }
  50%{
    transform: scale(2);
    color: red;
  }
}
/* -------->End Media Query For Height <---------------- */

/* SPinner */

.spinner-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes move {
    0% {
        right: -75%;
        opacity: 0;
        transform: rotate(10deg) translateY(-3em);
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
        transform: rotate(0deg) translateY(2em);
    }
    100% {
        right: 0%;
        opacity: 0;
        transform: rotate(0deg) translateY(2em);
    }
}

.spinnerContainer {
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: center;
    position: relative;
}

.plane-spinner {
    width: 50%;
    max-width: 200px;
    position: relative;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.ideagen-spinner {
    max-width: 200px;
    margin: 0 auto;
    animation-name: spinner;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.loading-spinnet-txt {
    margin-top: 9%;
    font-size: 2em;
}